{% extends 'base.html' %} {% block content %}
<body class="bg-light">
    {% include 'partials/_navbar.html' %}

    <div class="container mt-4">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-4">
                                <img
                                    class="circle mx-auto logo"
                                    src="{{ url_for('static', filename='images/shubhangi.jpg') }}"
                                />
                                <h4 class="name text-center">Shubhangi Gupta</h4>
                                <h6 class="email text-center"><u>shubhangi@gmail.com</u></h6>
                            </div>
                            <div class="col-md-8">
                                <form action="">
                                    <div class="input-field">
                                        <i class="material-icons prefix">person</i>
                                        <input type="text" placeholder="First Name" class="validate" />
                                    </div>
                                    <div class="input-field">
                                        <i class="material-icons prefix">person</i>
                                        <input type="text" placeholder="Last Name" class="validate" />
                                    </div>
                                    <div class="input-field">
                                        <i class="material-icons prefix">email</i>
                                        <input type="email" placeholder="Email Address" class="validate" />
                                    </div>
                                    <div class="file-field input-field">
                                        <div class="btn blue">
                                            <span>File</span>
                                            <input type="file" multiple />
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input
                                                class="file-path validate"
                                                type="text"
                                                placeholder="Profile Picture"
                                            />
                                        </div>
                                    </div>
                                    <div class="form-group d-flex justify-content-center">
                                        <button type="submit" class="waves-effect waves-light blue btn mt-4">
                                            Update Profile
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a href="#" class="waves-effect btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
    </div>
</body>
{% endblock %} {% block script %}
<script>
    $(document).ready(function() {
        $(".sidenav").sidenav();
    });
</script>
{% endblock %}
