{% extends 'base.html' %} {% block content %}
<body class="bg-light">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-content">
                        <img
                            src="{{ url_for('static', filename='images/google-docs-icon.png') }}"
                            class="logo mx-auto"
                            alt=""
                        />
                        <h1 class="text-center">Sign Up</h1>
                        <hr class="purple" width="200px" size="10" />
                        <form action="" method="POST">
                            {{ form.hidden_tag() }}
                            <div class="input-field">
                                <i class="material-icons prefix">person</i>
                                {{ form.first_name(class='validate', placeholder='First Name') }}
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">person</i>
                                {{ form.last_name(class='validate', placeholder='Last Name') }}
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">email</i>
                                {{ form.email(class='validate', placeholder='Email Address') }}
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">vpn_key</i>
                                {{ form.password(class='validate', placeholder='Password') }}
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">vpn_key</i>
                                {{ form.confirm_password(class='validate', placeholder='Confirm Password') }}
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                {{ form.submit(class='waves-effect waves-light blue btn mt-4') }}
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <p class="text-muted">
                                    Already Registered? <a href="#" class="font-weight-bold">Login</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
